.displayBattle {
    color: #fff8be;
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

.responsiveBattle {
    margin-bottom: 20px;
    /* height: 60vh;
    width: 135vh; */
    height: auto;
    width: 100%;
        margin-top: 10px;
        border-radius: 15px; 
        border: 6px ridge #5a88a0;      



    


}

#res {
    height: 30%;
}